.LeftPanel{
  height: 80%;
  width: 27%;
  background: #303030;
  border-top-left-radius: var(--standard-radius);
  border-bottom-left-radius: var(--standard-radius);
  box-shadow: var(--standard-shadow);
  color: white;
  font-family: 'Mukta', sans-serif;
}

.LeftPanel h1{
  font-size: 5vh;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 0px;
  font-family: 'Times New Roman', Times, serif;
}

.LeftPanel h4{
  font-size: 2vh;
  margin-top: 0px;
  margin-left: 30px;
  color: rgba(255, 255, 255, 0.73);
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  transition: .4s;
}
.LeftPanel h4:hover{
  color: rgba(255, 255, 255, 1);
}

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 82%;
  width: 100%;
  --form-font-size: 25px;
}

.LeftPanel input, select{
  font-family: 'Mukta', sans-serif;
}

.LeftPanel input[type=text], select {
  font-size: var(--form-font-size);
  margin: 15px 0px;
  border: none;
  border-bottom: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  width: 80%;
  height: 40px;
  color: white;
  text-indent: 10px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
  opacity: 1
}

/*select styling*/
.LeftPanel select{
  padding-left: 0px;
  height: 50px;
  text-indent: 5px;
}
.LeftPanel select option{
  background-color: rgb(83, 83, 83);
}
/*end of select styling*/

.LeftPanel input[type=submit]{
  background-color: rgba(0, 0, 0, 0);
  box-shadow: var(--standard-shadow);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  color: white;
  padding: 3px 35px;
  font-size: var(--form-font-size);
  margin-top: 10px;
  transition-duration: 0.4s;
}
.LeftPanel input[type=submit]:hover{
  background-color: #4b4b4b;
}

.LeftPanel svg{
  margin-left: 30px;
  height: 40px;
  width: 40px;
}
.LeftPanel path{
  transition-duration: 0.4s;
  fill: #ffffff;
}
.LeftPanel svg:hover path{
  fill: #acacac;
}

.PayPalButtonContainer{
  height: 75%;
  overflow: auto;
}

.AboutUsContainer{
  height: 75%;
  overflow: auto;
}

.AboutUsText{
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.AboutUsContainer p{
  margin-top: 0px;
}
.AboutUsContainer h2{
  margin-bottom: 5px;
}

.AboutUsContainer table{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.AboutUsContainer img{
  width: 60px;
  margin-right: 7px;
}

.AboutUsContainer a:link{
  color: #58ABF8;
}
.AboutUsContainer a:visited{
  color: #a8d1f8;
}

.AboutUsContainer button{
  background-color: rgba(0, 0, 0, 0);
  box-shadow: var(--standard-shadow);
  border: 1.5px solid #FFFFFF;
  border-radius: 20px;
  color: white;
  padding: 6px 15px;
  font-size: var(--form-font-size);
  margin-top: 10px;
  transition-duration: 0.4s;
}
.AboutUsContainer button:hover{
  background-color: #4b4b4b;
}