.LeftPanel{
  height: 80%;
  width: 27%;
  background: #303030;
  border-top-left-radius: var(--standard-radius);
  border-bottom-left-radius: var(--standard-radius);
  box-shadow: var(--standard-shadow);
  color: white;
}

.LeftPanel h1{
  font-size: 5vh;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 0px;
}

.LeftPanel h4{
  font-size: 2vh;
  margin-top: 0px;
  margin-left: 30px;
  color: rgba(255, 255, 255, 0.73);
}

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 82%;
  width: 100%;
  --form-font-size: 25px;
}

.LeftPanel input, select{
  font-family: 'Mukta', sans-serif;
}

.LeftPanel input[type=text], select {
  font-size: var(--form-font-size);
  margin: 15px 0px;
  border: none;
  border-bottom: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  width: 80%;
  height: 40px;
  color: white;
  text-indent: 10px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
  opacity: 1
}

/*select styling*/
.LeftPanel select{
  padding-left: 0px;
  height: 50px;
  text-indent: 5px;
}
.LeftPanel select option{
  background-color: rgb(83, 83, 83);
}
/*end of select styling*/

.LeftPanel input[type=submit]{
  background-color: rgba(0, 0, 0, 0);
  box-shadow: var(--standard-shadow);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  color: white;
  padding: 3px 35px;
  font-size: var(--form-font-size);
  margin-top: 10px;
  transition-duration: 0.4s;
}
.LeftPanel input[type=submit]:hover{
  background-color: #4b4b4b;
}