.RightPanel{
    height: 90%;
    width: 45%;
    background: #FFFFFF;
    border-radius: var(--standard-radius);
    box-shadow: var(--standard-shadow);
    font-family: 'Mukta', sans-serif;
}

.RightPanel h1{
    font-size: 6vh;
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 0px;
    font-family: 'Times New Roman', Times, serif;
}