body {
  background: #F4F4F4;
}

.App {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  --standard-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  --border-radius: 10px;
}

.LeftPanel{
  height: 83%;
  width: 27%;
  background: #303030;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  box-shadow: var(--standard-shadow);
}

.RightPanel{
  height: 91%;
  width: 45%;
  background: #FFFFFF;
  border-radius: var(--border-radius);
  box-shadow: var(--standard-shadow);
}

.GivestTitle{
  opacity: 0.6;
  font-size: 36px;
  text-shadow: var(--standard-shadow);
}

.Leaderboard {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-collapse: separate; 
  border-spacing: 0 10px;
  --table-row-radius: 10px;
}
.Leaderboard tbody tr {
  line-height: 70px;
  box-shadow: var(--standard-shadow);
  border-radius: var(--table-row-radius);
}
.Leaderboard td {
  background-color: white;
}
.Leaderboard td:first-child {
  border-top-left-radius: var(--table-row-radius); 
  border-bottom-left-radius: var(--table-row-radius);
}
.Leaderboard td:last-child {
  border-bottom-right-radius: var(--table-row-radius); 
  border-top-right-radius: var(--table-row-radius); 
}

.DonationModal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 330px;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--standard-shadow);
  z-index: 1;
}
.DonationModal svg{
  position: absolute;
  top: 8px;
  right: 8px;
}
.DonationModal path{
  transition-duration: 0.4s;
}
.DonationModal svg:hover path{
  fill: #9c9c9c;
}
.DonationModal form{
  margin: 60px 25px 25px;
}
.DonationModal input[type=text], select {
  font-size: 20px;
  margin: 15px 0;
  padding: 5px 20px;
  border: none;
  border-bottom: 2px solid black;
}
.DonationModal select{
  width: 100%;
}
.DonationModal input[type=submit]{
  background-color: #6FA0FF;
  box-shadow: var(--standard-shadow);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  margin-top: 10px;
  transition-duration: 0.4s;
}
.DonationModal input[type=submit]:hover{
  background-color: #8fb4ff;
}

.PayPalButtons{
  margin: 60px 25px 25px;
}

.DonateFooter{
  background-color: white;
  width: 225px;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  bottom: -35px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  box-shadow: var(--standard-shadow);
}
.DonateFooter h4{
  margin-top: 10px;
  margin-bottom: 10px;
}
.DonateFooter button{
  background-color: #6FA0FF;
  box-shadow: var(--standard-shadow);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  margin-bottom: 8px;
  transition-duration: 0.4s;
}
.DonateFooter button:hover{
  background-color: #8fb4ff;
}