
body {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2)) fixed;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  --standard-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.GivestTitle{
  opacity: 0.6;
  font-size: 36px;
  text-shadow: var(--standard-shadow);
}

.Leaderboard {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-collapse: separate; 
  border-spacing: 0 10px;
  --table-row-radius: 10px;
}
.Leaderboard tbody tr {
  line-height: 70px;
  box-shadow: var(--standard-shadow);
  border-radius: var(--table-row-radius);
}
td {
  background-color: white;
}
td:first-child {
  border-top-left-radius: var(--table-row-radius); 
  border-bottom-left-radius: var(--table-row-radius);
}
td:last-child {
  border-bottom-right-radius: var(--table-row-radius); 
  border-top-right-radius: var(--table-row-radius); 
}

.DonationModal{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--standard-shadow);
}

.DonateFooter{
  background-color: white;
  width: 225px;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  bottom: -35px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  box-shadow: var(--standard-shadow);
}
.DonateFooter h4{
  margin-top: 10px;
  margin-bottom: 10px;
}
.DonateFooter button{
  background-color: #6FA0FF;
  box-shadow: var(--standard-shadow);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  margin-bottom: 8px;
  transition-duration: 0.4s;
}
.DonateFooter button:hover{
  background-color: #8fb4ff;
}