
body {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2)) fixed;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.Leaderboard {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-collapse: separate; 
  border-spacing: 0 10px;
  --table-row-radius: 10px;
}

.Leaderboard tbody tr {
  line-height: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--table-row-radius);
}

td {
  background-color: white;
}
td:first-child {
  border-top-left-radius: var(--table-row-radius); 
  border-bottom-left-radius: var(--table-row-radius);
}
td:last-child {
  border-bottom-right-radius: var(--table-row-radius); 
  border-top-right-radius: var(--table-row-radius); 
}

.DonateDiv{
  background-color: white;
  width: 225px;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  bottom: -35px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.DonateDiv h4{
  margin-top: 10px;
  margin-bottom: 10px;
}

.DonateDiv button{
  background-color: #ACACAC;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  margin-bottom: 8px;
  transition-duration: 0.4s;
}

.DonateDiv button:hover{
  background-color: #c4c4c4;
}